.home-text {
    background: #AFEEEE;
    padding: 80px;
    text-align: center;
    border-radius: 10px;
}

.aventures-wish {
    border-block-start: 3px solid #A9A8A7;
    padding-top: 20px;
    margin-top: 20px;
    color: #A9A8A7;
    font-size: 18px;
    font-weight: bold;
}

.home-wilcome-logged-out {
    font-weight: bold;
    text-align: left;
    font-size: 28px;
    padding-bottom: 15px;
}

.home-description-login,
.home-description-register {
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

.home-description-login {
    border-top: 3px solid black;
    padding-top: 15px;
}